*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: springgreen;
    font-family: 'Montserrat';
}

h1 {
    color: springgreen;
    padding: 10px;
    width: 100%;
    display:flex;
    justify-content:start;
}

.bag {
    background-color: midnightblue;
    opacity: 80%;
    padding: 50px;
    display:flex;
    justify-content:center;
}

#foo{
    background-size: cover;
}