@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: springgreen;
    font-family: 'Montserrat';
}

h1 {
    color: springgreen;
    padding: 10px;
    width: 100%;
    display:flex;
    justify-content:start;
    border: 1px solid springgreen;
    border-radius: 50px;
    padding: 20px;
}

.bag {
    background-color: midnightblue;
    opacity: 80%;
    padding: 50px;
    display:flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
    border: 1px solid springgreen;
    border-radius: 100px;
    margin: 20px;
}

.bagg {
    background-color: midnightblue;
    opacity: 80%;
    padding: 50px;
    display:flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
}
